{% extends 'base.html' %}

{% block title %}MachineTec Dashboard{% endblock %}

{% block conteudo %}
{% load static %}
<main>
    <header class="header-base">
        <div>
            <img src="{% static 'img/logo_machinetec_02.png' %}" alt="logo_machinetec" width="200px"/>
            <ul>
                <li class="li-base"><a href="{% url 'index_core' %}">DASHBOARD</a></li>
                <li class="li-base"><a href="{% url 'index_core' %}">CLIENTES</a></li>
                <li class="li-base"><a href="{% url 'index_core' %}">TECNICOS</a></li>
                <li class="li-base"><a href="{% url 'index_core' %}">SERVIÇOS</a></li>
            </ul>
        </div>
        {% if not teste %}
        <div class="botoes-base">
            <a href="{% url 'entrar_app' %}"><button class="btn btn-light">ENTRAR</button></a>
        </div>
        {% else %}
        <div>
            <span>
                Oswaldo
            </span>
        </div>
        {% endif %}
    </header>
    <section>

    </section>
</main>
{% endblock %}